<div class="dashboard-container">
    <header class="dashboard-header">
      <div class="logo">
        <img src="assets/logo_claro.png" alt="Logo" class="login-logo" />
        <span>{{ username }}</span>
        <span></span>
        <span><a href="/userEdit">Meus Dados</a></span>
      </div>
      <a class="logout" (click)="logout()">Sair</a>
    </header>
  
    <main class="dashboard-main">
      <div class="container">
        <h2>Editar Usuário</h2>
  
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="useranme">Nome do Usuário</label>
            <input id="useranme" type="text" formControlName="name" />
          </div>
  
          <div class="form-group">
            <label for="cpf">CPF</label>
            <input id="cpf" type="text"  formControlName="cpf" />
          </div>
  
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" />
          </div>
          <div class="form-group">
            <label for="limiteVm">Limite de máquinas virtuais</label>
            <input id="limiteVm" type="number" min="1" formControlName="limiteVm" />
          </div>
  
          <button type="submit" class="btn-criar">
            Atualizar Usuario
          </button>
          <button class="btn-voltar" type="button" (click)="voltar()">Voltar</button>
        </form>
      </div>
    </main>
  </div>
  